<ngx-datatable [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [rows]="yearMonthTotals">
    <ngx-datatable-column name="Year-Month" prop="key"></ngx-datatable-column>
    <ngx-datatable-column name="value" prop="value"></ngx-datatable-column>
    <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
            <div style="padding: 5px 10px">
                <div>
                    <hr style="width:100%" />
                    <strong>Total</strong>: ${{totals}}
                </div>
            </div>
        </ng-template>
    </ngx-datatable-footer>
</ngx-datatable>