<mat-card>
  <mat-card-title>Past Transactions</mat-card-title>

  <mat-card-content>
    <ngx-datatable [headerHeight]="30" [columnMode]="'force'" [rowHeight]="50" [rows]="data_source">
      <div *ngFor="let column of displayed_columns">
        <ngx-datatable-column name={{column}} prop={{column}}></ngx-datatable-column>
      </div>
      <ngx-datatable-column name="">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <mat-form-field>
              <mat-select placeholder="Select Category" [(ngModel)]="row.category"  (change)="onChange(row.id, 'category', $event)">
                <mat-option value="ccpayment">Credit Card Payment</mat-option>
                <mat-option value="utility">Utility</mat-option>
              </mat-select>
            </mat-form-field>
        </ng-template>
      </ngx-datatable-column>
      
    </ngx-datatable>
  </mat-card-content>
</mat-card>